<ion-content>
  <app-header></app-header>
<br><br>
  <div class="custom-card">
    <h2>Recuperación de Contraseña</h2>

    <div class="input-slide">
      <ion-label position="floating">Ingrese su correo electrónico</ion-label>
      <ion-input type="email" [(ngModel)]="email" placeholder="ejemplo@correo.com"></ion-input>
    </div>

    <ng-container *ngIf="showPasswordFields">
      <div class="input-slide">
        <ion-label position="floating">Nueva contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="newPassword"></ion-input>
      </div>

      <div class="input-slide">
        <ion-label position="floating">Confirmar nueva contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="confirmPassword"></ion-input>
      </div>
    </ng-container>

    <div class="button_slide slide_left" (click)="recuperarContrasena()">
      {{ showPasswordFields ? 'Cambiar Contraseña' : 'Verificar Email' }}
    </div>

    <p *ngIf="mensaje" class="message">{{ mensaje }}</p>

    <div class="button_slide slide_left" [routerLink]="['/iniciosesion']">
      <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
      Volver
    </div>
  </div>
<br><br>
  <app-footer></app-footer>
</ion-content>
