$color-neon: #2272FF;
$color-negro: #1D1D1D;
$border-radius: 8px;

ion-content {
  --background: $color-negro;
  font-family: "Lucida Console", Monaco, monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;


  .custom-card {
    background-color: $color-negro;
    border: 2px solid $color-neon;
    border-radius: $border-radius;
    box-shadow: 0 0 15px rgba($color-neon, 0.3);
    padding: 20px;
    max-width: 400px;
    margin: 20px auto;
    position: relative;

    .logo-container {
      position: relative;
      width: 100%;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      border: 2px solid $color-neon;
      border-radius: $border-radius;
      margin-bottom: 20px;

      img {
        width: 100%;
        height: 100%;
        filter: drop-shadow(0 0 8px $color-neon);
        object-fit: cover;
        position: absolute;
        z-index: 1;
        max-width: none;
        max-height: none;
      }

      .scanner-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;

        zxing-scanner {
          width: 100%;
          height: 100%;

          ::ng-deep video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: $border-radius;
          }
        }
      }
    }

    .button-container {
      display: flex;
      justify-content: center;
      gap: 10px;
      margin-top: 20px;
    }

    p {
      color: $color-neon;
      font-size: 16px;
      margin: 10px 0;
      text-shadow: 0 0 5px rgba($color-neon, 0.5);
    }
  }
}
