$color-blanco: #ffffff;
$color-granate: #9b1b30;
$color-texto: #333333;

$border-radius: 8px;
$transition-duration: 0.3s;

ion-content {
  background-color: $color-blanco;
  font-family: 'Roboto', sans-serif;
  height: 100%; // Aseguramos que ocupe todo el espacio

  .custom-card {
    background-color: $color-blanco;
    border-radius: $border-radius;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    margin: 20px;
    position: relative; // Necesario para posicionar los elementos hijos

    .logo-container {
      position: relative;
      width: 100%;
      height: 300px; // Define una altura específica
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden; // Asegura que los elementos no sobresalgan del contenedor

      img {
        max-width: 150px;
        height: auto;
      }

      .scanner-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; // Ocupa toda la altura del contenedor padre
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10; // Asegura que esté por encima de otros elementos

        video {
          width: 100%;
          height: 100%; // Se ajusta al tamaño del contenedor
          object-fit: cover; // Se adapta sin distorsión
          border-radius: $border-radius;
          border: 2px solid red;
        }
      }
    }

    p {
      color: $color-texto;
      font-size: 16px;
      margin: 10px 0;
    }

    .button-container {
      display: flex;
      justify-content: center;
      gap: 10px;

      .custom-button {
        background-color: $color-granate;
        color: $color-blanco;
        border-radius: $border-radius;
        transition: all $transition-duration;

        &:hover {
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
          transform: scale(1.05);
        }
      }
    }
  }
}
