<ion-content>
  <app-header></app-header>
  <div class="custom-card">
    <div class="logo-container">
      <img src="assets/icon/cuadrado.png" alt="Logo" class="logo" />

      <div class="scanner-container" *ngIf="mostrarScaner">
        <zxing-scanner
          [device]="currentDevice"
          (scanSuccess)="escanear($event)">
        </zxing-scanner>
      </div>
    </div>

    <div *ngIf="resultado">
      <p>QR Detectado: {{ resultado }}</p>
    </div>

    <div class="button-container">
      <ion-button (click)="controlescaneo()" class="custom-button">
        {{ mostrarScaner ? 'Detener Escaneo': 'Escanear'}}
      </ion-button>
      <ion-button (click)="volver()" class="custom-button">
        Volver
      </ion-button>
    </div>
  </div>
  <app-footer></app-footer>
</ion-content>
